.main {
  /* max-width: 600px; */
  max-width: 1200px;
  width: 80%;
  /* height: 100vh; */
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 2rem;
}
.main button {
  cursor: pointer;
}
.main h1 {
  width: 100%;
  margin: 2rem 0;
}
.inputCon {
  min-width: 340px;
  width: 35%;
  height: max-content;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border: 3px solid lightgray;
  border-radius: 1rem;
}
.inputCon .inputEl,
.SelectEl {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.saveBtn {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  background-color: #0583f2;
  color: white;
  border: none;
  outline: none;
}

.ListArea {
  width: 50%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* App.jsx noList 부분 */

.noContactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
  position: relative;
}

.noContactList i {
  font-size: 60px;
}

.icon-container {
  margin: 3rem 0;
  position: relative;
  display: inline-block;
  font-size: 24px; /* 아이콘의 크기에 맞게 조정 */
}

.icon-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem; /* 원의 크기 조정 */
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc; /* 회색의 동그라미 테두리 */
  transform: translate(-50%, -50%);
}

.icon-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem; /* 사선의 두께 조정 */
  height: 2px;
  background: #ccc; /* 사선 색상 */
  transform: translate(-50%, -50%) rotate(-45deg); /* 사선 위치와 방향 조정 */
}

/* InputEl */
.inputEl input,
#group {
  padding: 0.5rem;
}

.inputTagCon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inputTagCon input {
  max-width: fit-content;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  display: block;
  color: #d9534f;
  font-size: 10px;
  margin-top: 0.25em;
}

/* SelectEl */
#group {
  width: 99px;
  margin-right: 10px;
}
.addGroupBtn {
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* SearchCon */
.ListArea > * {
  width: 100%;
}
.searchCon {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.searchCon > * {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
.searchCon input {
  flex: 1;
  background-color: #f0f8ff;
}
.showAll {
  background-color: #0583f2;
  color: white;
}

/* list */
.listDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}
.detailCon > button {
  padding: 0.5rem;
  margin: 0 2px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

@media (max-width: 960px) {
  .main {
    flex-direction: column;
  }
  .inputCon {
    width: 90%;
  }
  .ListArea {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .main {
    width: 90%;
  }
  .inputCon {
    width: 90%;
  }
  .ListArea {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .inputCon {
    width: 100%;
  }
  .ListArea {
    width: 100%;
  }
}
